[%
    config = {
        xsd  => {
        },
        wsdl => {
            parent_module => config.wsdl.parent_module || 'W3C::SOAP::WSDL',
        },
        alias => config.alias || 0,
    };
-%]
